* {
  margin: 0;
  cursor: pointer;
  font-family: "Muli", sans-serif;

  -webkit-font-smoothing: antialiased;
}
.input::placeholder {
  display: flex;
  color: grey;
  z-index: 9999;
  font-size: 16px;
}
